.marker {
	background: none;
	border: none;
	cursor: pointer;
	/* background-image: 'iconfinder_starbucks_coffee.png'; */
}

.marker img {
	width: 20px;
	height: 20px;
}

.map-container {
	display: flex;
	flex-flow: row;
	height: 100vh;
}

.map-name {
	background-color: green;
	font-weight: bold;
	text-align: center;
	color: white;
	width: 100%;
}

.list {
	flex: .35;
	border: 1px solid black;
	cursor: pointer;
	overflow: auto;
	background: rgb(233, 230, 230);
	scroll-behavior: auto;
	font-size: 20px;
	font-weight: 600;
	font-family: Georgia, 'Times New Roman', Times, serif;
	word-break: 8px;
	height: 100vh;
}

.map {
	flex: 2;
	overflow: unset;
	height: 100%;
}

.header {
	background: green;
	height: 35px;
	color: white;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	line-height: -5px;
	font-family: 'Times New Roman', Times, serif;
}
